.calc{
    font-family: monospace;
    background-color: rgb(63,63,63);
    color: white;
    width: 200px;
    margin: 50px;
    padding: 10px;
    border-radius: 20px;
}
.output-screen{
    background-color: greenyellow;
    color: black;
    padding: 10px;
    text-align: right;
    margin-bottom: 10px;
    border-radius: 2px;
}
.parent{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5,1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
/* attribute selector */
div[class^="div"] {
    background-color: gray;
    color:white;
    text-align: center;
    padding: 10px;
    border-radius: 2px;
    /* vertical align */
    display:grid;
    align-items: center;
    /* btn style */
    cursor:pointer;
     box-shadow: 3px 3px 1px black;  /*x y blur color */
    transition-duration: 0.1s;
}
div[class^="div"]:active {
    box-shadow: 1px 1px 1px black;
}
.div1, .div2, .div3, .div4{
    background-color: black !important;
    color:white !important;
}
.div17{
    background-color: orange !important;
}
.div1{
    grid-area: 1 / 1 / 2 / 2;
}
.div1{
    grid-area: 1 / 1 / 2 / 2;
}
.div2{
    grid-area: 1 / 2 / 2 / 3;
}
.div3{
    grid-area: 1 / 3 / 2 / 4;
}
.div4{
    grid-area: 1 / 4 / 2 / 5;
}
.div5{
    grid-area: 2 / 1 / 3 / 2;
}
.div6{
    grid-area: 1 / 1 / 2 / 2;
}
.div6{
    grid-area: 2 / 2 / 3 / 3;
}
.div7{
    grid-area: 2 / 3 / 3 / 4;
}
.div8{
    grid-area: 2 / 4 / 3 / 5;
}
.div9{
    grid-area: 3 / 1 / 4 / 2;
}
.div10{
    grid-area: 3 / 2 / 4 / 3;
}
.div11{
    grid-area: 3 / 3 / 4 / 4;
}
.div12{
    grid-area: 3 / 4 / 4 / 5;
}
.div13{
    grid-area: 4 / 1 / 5 / 2;
}
.div14{
    grid-area: 4 / 2 / 5 / 3;
}
.div15{
    grid-area: 4 / 3 / 5 / 4;
}
.div16{
    grid-area: 5 / 1 / 6 / 3;
}
.div17{
    grid-area: 4 / 4 / 6 / 5;
}
.div18{
    grid-area: 5 / 3 / 6 / 4;
}
